/* fuentes
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;*/

/*clases generales*/

body {
  background-color: #fff;
  color: #212529;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  border: none;
}

/*clases reusables*/

.text-uppercase {
  text-transform: uppercase;
}

.titles-footer {

}

/*nav*/

nav {
  background-color: #2C3E50;
  height: 110px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.logotipo {
  color: #fff;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  left: 21%;
  position: absolute;
  top : 50%;
  transform: translateY(-50%);
}

ul {
  position: absolute;
  right: 21%;
  top : 25%;
}

.li-menu {

  float: left;
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
}

.items-menu {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/*header*/

.presentation {
  width: 100%;
  height: 680px;
  background-color: #18BC9C;
  position: relative;
  top: 94px;
}
.image-profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 90px;
}

.title-general {

  color: #fff;
  font-size: 75px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 53px;
  text-align: center;
  font-weight: 700;
}

/*estrella y linea - presentacion*/

.line-one {
  display: block;
  width: 250px;
  height: 5px;
  background-color: #fff;
  position: relative;
  margin: auto;
  bottom:30px;
}

.fa-star {
  color: #fff;
}

.start-one {

  left: 48.6%;
  bottom: 59px;
  background-color: #18BC9C;
  padding: 10px;
  position: relative;
  margin: auto;
}

/* sub titulo de presentacion*/

.sub-title-presentation {
  bottom: 94px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: lighter;
  position: relative;
  text-align: center;
}

/*portfolio-section*/

.portfolio-section {
  top: 74px;
  width: 100%;
  height: 850px;
  background-color: #fff;
  position: relative;
}

.title-section-blue {
  color: #212529;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 80px;
  text-align: center;
}

.line-two {
  display: block;
  width: 250px;
  height: 5px;
  background-color: #2C3E50;
  position: relative;
  margin: auto;
  top: 62px;
}

.start-two {

  left: 48.6%;
  top: 33px;
  background-color: #fff;
  color:  #2C3E50;
  padding: 10px;
  position: relative;
  margin: auto;
}

/*gallery*/

.gallery-portfolio {
  margin: auto;
  position: relative;
  top: 25px;
  width:60%;
}

.gallery {
  /*outline: 1px solid yellow;*/
  width: 30%;
  margin: 14px;
  display: inline-block;
}

.image-portfolio {
  width: 100%;
}

/*section-about*/

.about-section {
  top: 56px;
  width: 100%;
  height: 600px;
  background-color: #18BC9C;
  position: relative;
}

.title-section-about {
  color: #fff;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 100px;
  text-align: center;
}

/*linea y estrella-about*/
.line-three {
  display: block;
  width: 250px;
  height: 5px;
  background-color: #fff;
  position: relative;
  margin: auto;
  top: 80px;
}

.start-three {

  left: 48.6%;
  top: 50px;
  background-color: #18BC9C;
  padding: 10px;
  position: relative;
  margin: auto;
}
/*parrafos-about y botón*/

.container-text {
  /*outline: 1px solid red;*/
  height: 350px;
  margin: auto;
  width: 43%;
  position: relative;
  top: 60px;
}

.text-left {
  color: #fff;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin: 0px 3.3%;
  padding: 0;
  vertical-align: top;
  width: 43%;
}

.text-right {
  color: #fff;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin: 0px 3.3%;
  padding: 0;
  vertical-align: top;
  width: 43%;
}

/*botón download*/
.fa-download {
  color: #fff;
  margin-right: 5px;
}

.button-download {
  border: 2px solid #fff;
  border-radius: 5px;
  bottom: 80px;
  color: #fff;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  height: 40px;
  left: 34.5%;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  width: 220px;
}

/*contact me - section*/

.contact-section {
  top: 56px;
  width: 100%;
  height: 940px;
  background-color: #fff;
  position: relative;
}
/*linea y estrella-contact me*/
.line-four {
  display: block;
  width: 250px;
  height: 5px;
  background-color: #2C3E50;
  position: relative;
  margin: auto;
  top: 62px;
}

.start-four {

  left: 48.6%;
  top: 33px;
  background-color: #fff;
  color:  #2C3E50;
  padding: 10px;
  position: relative;
  margin: auto;
}

/*formulario*/

.container-form {
  /*outline: 1px solid red;*/
  height: 600px;
  margin: auto;
  width: 40%;
  position: relative;
  top: 70px;
}

.items-form {
  font-size: 23px;
  font-family: 'Lato', sans-serif;
  color: #868E96;
  line-height: 1.5;
  margin-bottom: 30px;
}

input {
  border-bottom: 1px solid #EEEEEE;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}

.border-message {
  padding-top: 160px;
}

.button-send {
  border: none;
  border-radius: 6px;
  background-color: #18BC9C;
  bottom: 20px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 46px;
  position: absolute;
  text-align: center;
  width: 75px;
}

/*footer*/
.footer-general {
  background-color: #2C3E50;
  color: #fff;
  font-family: 'Lato', sans-serif;
  height: 385px;
  width: 100%;
}

.fotter-left {

}

.fotter-center {

}

.fotter-right {

}
